.table {
	border-collapse: collapse;
	cursor: pointer;
}

.table th {
	border: 1px solid black;
}

.table td {
	border: 1px solid black;
	padding-inline: 0.5em;
	
	&:focus {
		outline: auto;
	}
}

.unselectable {
	user-select: none; 
}

.edited {
	background-color: yellow;
}

